.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.footer__left {
  display: flex;
  justify-content: space-around;
  flex: 0.3;
}

.footer__leftOption > a {
  text-decoration: none;
}

.footer__leftOption > a:hover {
  color: #007ced;
}

.footer__right > div {
  display: flex;
  align-items: center;
}
